*{
    font-family: arial, helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: #4836e8;
}

main {
    background-color: #fff;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 5px rgba(rgb(0, 0, 0), green, blue, alpha);
    padding: 10px;
    border-radius: 10px;
}